<!doctype html>
<html ng-app="tournamentApp">
<head>
<title>Login page</title>
<!-- Angular Material requires Angular.js Libraries -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<!-- Angular Material Library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<!-- Task scripts -->
<script src="static/js/controllers/player.js"></script>
<script src="static/js/controllers/players.js"></script>
<!-- Stylesheets -->
<!-- Angular Material style sheet -->
<link
	rel="stylesheet"
	href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<!-- Task stylesheets -->
<link
	rel="stylesheet"
	type="text/css"
	href="static/css/player.css">
</head>
<body>
	<div class="main">
		<div
			class="top"
			id="home">
			<div class="navbar">
				<a href="#home">Home</a>
				<a href="#add">Add player</a>
				<a href="#tournament">Tournament</a>
			</div>
		</div>
		<div class="middle">
			<div ng-controller="playerController">
				<section
					layout="row"
					layout-sm="row"
					layout-align="center center"
					layout-wrap>
					<md-input-container class="md-block"> <!-- Use floating placeholder instead of label -->
					<md-icon
						md-svg-src="img/icons/ic_email_24px.svg"
						class="name"></md-icon> <input
						ng-model="player.name"
						type="text"
						placeholder="Name (required)"
						ng-required="true"> </md-input-container>
					<md-input-container class="md-block"> <!-- Use floating placeholder instead of label -->
					<md-icon
						md-svg-src="img/icons/ic_email_24px.svg"
						class="position"></md-icon> <input
						ng-model="player.position"
						type="number"
						placeholder="Position (required)"
						ng-required="true"> </md-input-container>
					<div role="alert">
						<span
							class="error"
							ng-show="myForm.input.$error.required"> Required!</span>
						<span
							class="error"
							ng-show="position.$error.number"> Not valid number!</span>
					</div>
					<md-input-container class="md-block"> <!-- Use floating placeholder instead of label -->
					<p>The button has been clicked {{count}} times.</p>
					<md-button
						ng-click="postPlayer()"
						class="md-raised">jr2</md-button> <md-button class="md-raised">Add</md-button>
					<md-button class="md-raised md-primary">Primary</md-button> <md-button
						ng-disabled="true"
						class="md-raised md-primary">Disabled</md-button> <md-button
						class="md-raised md-warn">Warn</md-button> </md-input-container>
				</section>
				<div>
					<p>The ID is {{task.id}}</p>
					<p>The content is {{task.content}}</p>
				</div>
			</div>
			<div
				ng-controller="playersController"
				ng-cloak=""
				class="navBardemoBasicUsage">
				<ul>
					<li ng-repeat="task in tasks">
						<b>Id: {{task.id}}</b>
						<p>Content: {{task.name}}</p>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>